body {
    background-color: #EDEFEE;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

nav {
    background-color: #27877F;
    padding: 5px;
    margin: 20px 0;
    border-radius: 15px;
}
nav ul {
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0;
}

nav li {
    display: inline-block;
}

a {
    color:#EDEFEE;
    text-decoration: none;
    padding: 0 80px;
    font-size: 1.5rem;
}

section {
    display: flex;
}

article {
    flex: 1;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}
footer img {
    display: block;
    width: 50px;
}